@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #c5c5c5;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

body {
    font-size: 100%;
    text-align: center;
}

#main {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: rgb(62, 62, 165);
    margin: auto;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
}

button {
    font-size: 1.5em;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#answer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#answer-container button {
    display: block;
}

@media only screen and (max-width : 550px) {
    #answer-container {
        grid-template-columns: 1fr;
    }
}